@page "/"

@inject HttpClient _http

<PageTitle>Home</PageTitle>

@if (Trails is null || !Trails.Any())
{
    <div>Loading Trails...</div>
}
else
{
    <div id="trails" class="row">
        @foreach (var trail in Trails)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <TrailCard Trail="trail" />
            </div>
        }
    </div>
}

@code {
    public IEnumerable<Trail>? Trails { get; set; } = Enumerable.Empty<Trail>();

    protected override async Task OnInitializedAsync()
    {
        Trails = await _http.GetFromJsonAsync<IEnumerable<Trail>>("trails/trail-data.json");
    }
}