@inject NavigationManager Navigation

<div class="row float-md-end row-cols-lg-auto">
    <div class="col mb-3">
        <label for="maxLength" class="visually-hidden">Max Length</label>
        <input type="number" class="form-control" id="maxLength" placeholder="Max. Length" @bind="@MaxLength" />
    </div>
    <div class="col mb-3">
        <button class="btn btn-outline-primary" type="button" @onclick="@FilterSearchResults">Filter</button>
        <button class="btn btn-outline-secondary" type="button" @onclick="@ClearSearchFilter">Clear</button>
    </div>
</div>

@code {
    public int MaxLength { get; set; }

    [Parameter, EditorRequired]
    public string? SearchTerm { get; set; }

    public void FilterSearchResults()
    {
        Navigation.NavigateTo($"/search/{SearchTerm}/maxlength/{MaxLength}");
    }

    public void ClearSearchFilter()
    {
        MaxLength = 0;
        Navigation.NavigateTo($"/search/{SearchTerm}");
    }

}
